#imageCard{
    min-height: auto;
    min-width: 100vw;
    background-color: #87c5e2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.imagekeeper img{
    margin-top: 25px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: 20px;
}
#imageContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}